
# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Distribution / packaging
dist/

# Environments
.env*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv
service_account.json
site

# osx
.ds_store
.DS_Store

# vscode
# .vscode

# App specifics
.env
README.txt
mssql/README.txt
oracle/README.txt
postgres/README.txt